.wrap {
    display: flex;
    position: relative;
    height: 3.71875rem;
    margin: auto;
}

.iconWrap {
    display: flex;
    position: absolute;
    background-color: var(--color-button-black);
    height: 100%;
    padding: 1.09375rem;      
    font-size: 1.640625rem;
    align-items: center;
    border-radius: 0.65625rem; 
    color: white;
}

.inputBox {
    padding-left: 5.46875rem;     
    font-size: var(--font-md);              
    font-weight: 400;
    width: 20.78125rem;          
    background-color: lightgray;
    border-radius: 0.8203125rem; 
    border: none;
}

.inputBox::placeholder {
    color: white;
}