@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
  --main-font: 'Poppins', sans-serif;
  --color-button-black: #000000;
  --label-size : 5.46875rem;
  --font-xs: 0.75rem;    /* 12px */
  --font-sm: 0.875rem;   /* 14px */
  --font-md: 1rem;       /* 16px */
  --font-lg: 1.125rem;   /* 18px */
  --font-xl: 1.25rem;    /* 20px */
  --font-2xl: 1.5rem;    /* 24px */
  --font-3xl: 2rem;      /* 32px */    
  font-size: 16px;
}

body {
  font-family: var(--main-font) !important;
  color: black !important;
  background-color: lightgray;
  line-height: normal !important;
}

.containerLayout {
  width: 100vw;
  height: 100vh;
}

.containerFlexItems {
  width: 100vw;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  width: var(--label-size);
}

.inputWrap {
  display: flex;
}

