.containerCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 24.9375rem;  
    height: 24.9375rem;
    border-radius: 0.875rem; 
    gap: 2.1875rem;              
}